@use "base/variables" as v;
@use "base/mixins" as m;

.descargar {
    background-color: v.$grisClaro;
    padding: v.$separacion 0;
    &__grid {
        @include m.tablet {
            @include m.grid(2, v.$separacion);
        }
    }

    &__imagen {
        width: 30%;
        margin: 0 auto;
        transition-property: transform;
        transition-duration: 300ms;
        &:hover {
            transform: rotate(4deg) scale(1.2);
            -webkit-transform: rotate(4deg) scale(1.2);
            -moz-transform: rotate(4deg) scale(1.2);
            -ms-transform: rotate(4deg) scale(1.2);
            -o-transform: rotate(4deg) scale(1.2);
        }
    }
}
